<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="connString" connectionString="Data Source=PC956;Initial Catalog=zamestnanec;Persist Security Info=True;User ID=sa;Password=***********" />
  <add name="cviceni_20._2.Properties.Settings.zamestnanecConnectionString"
   connectionString="Data Source=PC956;Initial Catalog=zamestnanec;Persist Security Info=True;User ID=sa;Password=student"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>